[user]
	name = Adam Hawkins
	email = hi@ahawkins.me
	signingkey = E72329F838F93C4B
[core]
	excludesfile = ~/.config/git/ignore
	hooksPath = ~/.config/git/hooks
	ignorecase = false
[alias]
	# Adding
	a  = add
	aa = add -A
	ap = add -p

	# Branching
	b  = branch
	ba = branch -a

	# Checking out
	co = checkout
	cb = checkout -b
	cm = checkout master

	# Commiting
	ci  = commit -v
	cim = commit -v -m
	rc  = commit --amend -v

	# Diffing
	d  = diff
	dc = diff --cached

	# Fetching
	f = fetch

	# Logging
	# Super fancy pretty log
	l = log --all --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(magenta)<%an>%C(reset)%C(bold yellow)%d%C(reset)'

	# Pushing
	p  = push
	pf = push -f

	# Pulling
	pl = pull

	# Pull Requesting
	pr = pull-request

	# Rebasing
	rbm = rebase master
	rbc	= rebase --continue
	rbi	= rebase -i

	# Reseting
	unstage  = reset HEAD
	uncommit = reset --soft HEAD^

	# Status
	s = status -sb

	# Misc
	wc = whatchanged -p --abbrev-commit --pretty=medium

	# Delete all locally merged branches
	scrub = "!git branch --merged | grep -v -F '*' | xargs -n 1 git branch -d"
[push]
	default = simple
[branch]
	# git checkout -t <branch> will use --rebase with
	# all future pulls
	autosetuprebase = always
[branch "master"]
	# git pull always uses --rebase
	rebase = true
[github]
	user = ahawkins
[pull]
	rebase = true
[fetch]
	recurseSubmodules = true
	prune = true
[commit]
	gpgsign = true
[includeIf "gitdir:/usr/local/Homebrew"]
	path = .gitconfig-vendor
