root = true

[**/*]
indent_style = tab

# Space for legacy reasons
[vim/**/*]
indent_style = space
indent_size = 2

[{**/*.rb,**/*.py}]
indent_style = space
indent_size = 2

[*.mustache]
indent_style = space
indent_size = 2

[*.yml]
indent_style = space
indent_size = 2
