*.foreground: #efefef
*.background: #000000
*.cursorColor: #efefef

!! Blacks
*.color0: #060606
*.color8: #625656

!! Reds
*.color1: #e12000
*.color9: #ff7772

!! Greens
*.color2: #00d900
*.color10: #95fa00

!! Yellows
*.color3: #ff9a00
*.color11: #ffdc00

!! Blues
*.color4: #0079ff
*.color12: #009cff

!! Magenta
*.color5: #b67cff
*.color13: #ff3099

!! Cyans
*.color6: #009bdf
*.color14: #00deff

!! Whites
*.color7: #ffffff
*.color15: #aeaea3

!! URxvt
URxvt.font: xft:Source Code Pro:size=10
URxvt.scrollBar: false
URxvt.visualBell: false
