# vim: set ft=conf:

# Indicate activity/bell with "*"
setw -g window-status-format "#I:#W#{?window_activity_flag,#[fg=#{{colors.normal.blue.hex}}]*,}#{?window_bell_flag,#[fg=#{{colors.normal.blue.hex}}]*,}"

# Set Default colors for anything in the status line
set -g status-style "bg=#{{background.hex}},fg=#{{colors.bright.black.hex}}"
setw -g window-status-bell-style "bg=#{{background.hex}},fg=#{{colors.bright.black.hex}}"
setw -g window-status-activity-style "bg=#{{background.hex}},fg=#{{colors.bright.black.hex}}"

# Make the active window stand out
setw -g window-status-current-style "bg=#{{background.hex}},fg=#{{colors.bright.yellow.hex}}"

# make pane colors correspond with Vim splits and vice/versa
set -g pane-border-style "fg=#181818 bg=#181818"
set -g pane-active-border-style "fg=colour245,bg=#{{background.hex}}"

# Message colors
set-option -g message-style "fg=#{{colors.normal.black.hex}},bg=#{{colors.bright.yellow.hex}}"
